#remove-btn{
    font-size: 20px;
    background-color: rgb(178, 78, 78);
    padding: 0;
    width: 30px;

}

#remove-btn:hover{
    background-color: #8c1414;
}
#sort-type, #sort-order{
    display:block;
    margin: 10px;
    width: 70vw;

}

#all-transaction-header{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

#logout-btn{
    background-color: rgb(208, 41, 41);
}

#logout-btn:hover{
    background-color: #8c1414;
}

#del-search{
    width: 1rem;
    height: 27px;
}

#del-search-box{
    padding: 10px;
    color: #666;
    display: flex;
    justify-content: start;
}
.deleted-text{
    color: rgb(202, 21, 21);
    font-weight: bold;
}