#remove-btn{
    font-size: 20px;
    background-color: rgb(178, 78, 78);
    padding: 0;
    width: 30px;

}

#remove-btn:hover{
    background-color: #8c1414;
}
#sort-type, #sort-order{
    display:block;
    margin: 10px;
    width: 70vw;

}

#all-transaction-header{
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

#logout-btn{
    background-color: rgb(208, 41, 41);
}

#logout-btn:hover{
    background-color: #8c1414;
}